*{
    color:white;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.flex{
     display: flex;
     justify-content: space-between;
}
.container{
    max-width: 1400px;
    margin:0 auto;
}
.portfolio-title{
    font-size: 2.8rem;
    color: white;
    font-weight: bold;
}
.lio{
    color: rgb(219, 28, 114);
}
/* Default title */

.title h1{
    color:rgb(10, 177, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid rgb(33, 32,32);
    background-color:rgb(33, 32, 32);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Navigation Menu */
.navbar{
    margin-top:30px;
}
.navbar img{
    height:190px;
}
.nav{
    margin-top:25px;
}
.nav ul{
    justify-content: end;
    gap:40px;
}
.nav ul li{
    list-style: none;
    padding:10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.nav ul li a{
    text-decoration: none;
}
#nav2,#nav4,#nav6{
    color:  rgb(10, 177, 238);
}
.hover :hover{
    color:rgb(219, 28, 114) ;
}
/* Home section */

.home_section{
    margin-left: 300px;
    flex-direction: column;
    margin-top:90px;
}
.home_section h4{
    padding-bottom:20px;
    font-size:40px;
    color:rgb(10, 177, 238);
}
.home_section h1{
    padding-bottom:20px;
    font-size:70px;
}
.home_section p{
    font-size:20px;
}
#name,#greet{
    color:rgb(219, 28, 114);
}
#name{
    font-style: italic;
}
.home_section ul li {
    list-style: none;
    margin-top:35px;
}
.home_section ul li a{
    text-decoration: none;
}
.home_section ul li a{
    /* border-radius: 5px; */
    background-color:white;
    color:black;
    padding:15px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 9px;
}
/* About Section */

.about_section{
    margin-top:150px;
    margin-bottom: 150px;
}
.about_me{
    width: 60%;
}
.about_me p{
    margin-top:60px;
    /* padding-left:200px; */
    /* padding-right:200px; */
    font-size: 25px;
}
.aboutMe-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.img-container img{
    width: 22rem;
    height: 22rem;
    border-radius: 300px;
    border: 20px solid white;
}
/* Education and Skills */
.education_section{
    padding-bottom:50px;
}
.edc{
    justify-content: center;
    padding-top:50px;
}
.skl{
    justify-content:center;
    padding-top: 50px;
    padding-right: 200px;
    
}
#degree,#degree_name{
    font-size:20px;
    padding-top:10px;
    padding-left:20px;
}
#degree_name ol{
    padding-left:50px;    
}
#degree_name ol li{
    padding-bottom: 0;
} 
.skills h1{
    color:rgb(236, 115, 133);
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Contact Details */
i{
    color:rgb(255, 0, 119);
}
.mycontact  {
    display: flex;
    justify-content: center;
    gap:40px;
    font-size: 20px;
    margin-top:50px;
    margin-bottom:50px;
}
.icons {
    justify-content: center;
    gap:40px;
    margin-bottom: 50px;
    font-size: 25px;
}

.project{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.project{
    /* text-align: center; */
    display: flex;
    align-items: center;
   justify-content: center;
   /* gap:5rem; */
   font-size: 1.6rem;
   gap: 3rem;

}
.project-img1{
 width: 20rem;
 height: 18rem;
 border-radius: 10px;
}
.project-img2{
    width: 20rem;
    height: 18rem;
    border-radius: 10px;
}
.project-info{
    margin-top:1.5rem;
    width: 60%;
}
.project-info h3{
    font-weight: 900;
    color: rgb(236, 115, 133);
 
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 1.3rem;
}







